/* Essential styles only */

body {
    font-family: "Raleway", sans-serif !important;
}

h1 {
    color: #ff6363;
    font-weight: bold;
}

.section {
    text-align: center;
}

.opaque-bg {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    padding: 1px 1px 5px 5px;
}

.h1-nowrap,
.h1-nowrap * {
    white-space: nowrap !important;
}

.blinking-cursor {
    font-weight: 500;
    margin-left: 4px;
    font-size: 32px;
    color: white !important;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%,
    100% {
        color: transparent;
    }

    50% {
        color: white;
    }
}

.social-links a {
    color: white;
    padding: 0px 5px 0px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover {
    color: #ff6363;
    transition: all 0.2s ease-in-out;
}